<h1>goodbye!!</h1>
<p>see you again </p>
<p>It is now <%= @time%></p>
<p>say <%= link_to "goodmorning", say_goodmorning_path %></p>
<p>---------------------------------</p>

<p><%= 10+9 %></p>
<p><%= "hien" + " khung" %></p>
<p><%= 1.hour.from_now %></p>
